<nav class="pagination" role="pagination">
    {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
            <a class="newer-posts" href="{{ "/" | relative_url }}" title="Previous Page">Newer posts</a>
        {% else %}
            <a class="newer-posts" href="{{ "/page" | append: paginator.previous_page | append: "/" | relative_url }}" title="Previous Page">Newer posts</a>
      {% endif %}
    {% endif %}
    <span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %} 
        <a class="older-posts" href="{{ "/page" | append: paginator.next_page | append: "/" | relative_url }}" title="Next Page">Older posts</a>
    {% endif %} 
</nav>
